#flex-container, #flex-container-advice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.flex-item {
    flex: 1 1 33%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #404040;
    text-align: center;
    margin: 2px;
    height: 40%;
    width: 40%;
    max-width: 40%;
    font-size: 11pt;
    font-family: Georgia, Garamond, Times, serif;
}



.activities {
    background-image: url('https://img1.10bestmedia.com/Images/Photos/432991/Florida-State-Fair_54_990x660.jpg?auto=webp&width=3840&quality=75');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: 80%;
}

.activities ul,
.activities h4,
.activities ol {
    list-style-type: circle;
    list-style-position: center;
    padding-left: 0px;
    width: 50%;
    max-width: 70%;
    padding: 50px;
    font-size: 11pt;
    color: #404040;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 50px;
    font-family: Georgia, Garamond, Times, serif;
    flex-wrap: nowrap;
}

.activities h4 {
    font-size: 22pt;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 70px;
    text-align: center;
    text-decoration: underline;
    font-family: Georgia, Garamond, Times, serif;

}

.activities oL,
.activities ul {
    list-style-type: circle;
    list-style-position: center;
    padding-left: 0px;
    background-color: white;
    width: 50%;
    max-width: 70%;
    padding: 50px;
    font-size: 11pt;
    color: #404040;
    font-family: Georgia, Garamond, Times, serif;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 50px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: nowrap;
}

#activity, .advice-header {
    padding: 10px;
    border-left: 5px solid #000000;
    border-bottom: 15px solid #000000;
    margin-bottom: 10px;
    margin-left: none;
    text-align: left;
    font-size: 22pt;
    font-weight: bold;
    color: #A4A400;
    font-family: Georgia, Garamond, Times, serif;
    font-style: italic;
    letter-spacing: 1.5px;
    background-color: white;
}

#footer {
    background-color: white;
    color: #404040;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 11pt;
    font-family: Georgia, Garamond, Times, serif;
;
}

.main h3 {
    padding: 20px;
    border-bottom: 4px dashed #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 18pt;
    font-weight: normal;
    color: #A4A400;
    text-decoration: underline;
    font-family: Georgia, Garamond, Times, serif;
}

.main p {
    padding: 10px;
    border-bottom: 15px solid #000000;
    margin-bottom: 10px;
    margin-left: none;
    text-align: left;
    font-size: 11pt;
    color: #404040;
    font-family: Georgia, Garamond, Times, serif;
    ;
}

.main {
    border-left: 12px solid #000000;
}

.header h1 {
    font-family: Georgia, Garamond, Times, serif;
    background-color: white;
    color: #A4A400;
    text-align: center;
    padding: 22pt;
    font-weight: bold;
    position: relative;
    top: 0;
    width: 100%;
    text-decoration: underline;
}
.flex-advice{
    flex: 1 1 33%;
    background-color: rgba(134, 141, 132, 0.15);
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 20px 22px black;
    color: #404040;
    text-align: justify center;
    margin: 2px;
    height: 40%;
    width: 40%;
    max-width: 40%;
    font-size: 11pt;
    font-family: Georgia, Garamond, Times, serif;
}
header#activity h2{
    text-decoration: underline;
    font-family: Georgia, Garamond, Times, serif;
    font-size: 22pt;
    font-weight: bold;
}
header#tips h2{
    text-decoration: underline;
    font-family: Georgia, Garamond, Times, serif;
    font-size: 22pt;
    font-weight: bold;
}