#flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.flex-item {
    flex: 1 1 33%;
    background-color:rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        color: black;
    text-align: center;
    margin: 2px;
    height: 100%;
    width: 100%;
    max-width: 100%;
    font-size: 18px;
    font-family:monospace;
}

.activities {
    background-image: url('https://img1.10bestmedia.com/Images/Photos/432991/Florida-State-Fair_54_990x660.jpg?auto=webp&width=3840&quality=75');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.activities ul {
    list-style-type: circle;
    background-color: white;
    width: 80%;
    max-width: 80%;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}
#activity {
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
}   
